body{
    background-color: rgb(233, 212, 184);
}

.navbar{
    background-color: rgb(10, 41, 41);
    display: flex;
    align-items: center;
    
}

.menu{
    color: antiquewhite;
    font-weight: 500;
   display: block;
    
    

}

.meioTela{
    background-color: rgb(14, 55, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.meioTela > label{
    color: rgb(179, 126, 58);
    
}

.nav-produtos{
    background-color: brown;
   
}

.nav-produtos2{
    background-color: brown;
    display: block;
    width: 700px;
   
}

.produto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    width: auto;
    height: auto;
    margin: 10px;
}

.produto2{
 
    justify-content: center;
    align-items: center;
    background-color: brown;
    width: 700px;
    height: 472px;
    margin-left: 320px;
    
}

.direito{
    background-color: brown;
    display: flex;
    justify-content: center;
}

.verde{
    color: rgb(122, 165, 42);
}

.vermelho{
    color: rgb(202, 49, 49);
}

.bordas{
    border-color: red green blue pink;
    border-width: 8px 10px 8px 10px;
    border-style: solid double;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50pt;
}

.bordas > label{
    color: chartreuse;
    font-size: 60px;
}

.quemsomos{
    color: coral;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.produto > img{
    padding: 2px;
    width: 662px;
    height: auto;

}

.produto2 > img{
    padding: 3px;
    width: 695px;
    height:auto;
    
    
}